@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face {
  font-family: "Raleway-Black";
  src: url(../../assets/fonts/raleway/Raleway-Black.ttf);
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url(../../assets/fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(../../assets/fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway-Regular";
  src: url(../../assets/fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: "EurostileT-Bold";
  src: url(../../assets/fonts/Eurostil/EurostileT-Bold.ttf);
}
p {
  font-family: Raleway-Regular, sans-serif;
}
a:hover {
  opacity: 0.8;
  text-decoration: none;
}
html {
  min-width: 300px;
}
.row-mobile {
  margin-left: -15px;
  margin-right: -15px;
}
.full-width-dialog {
  max-width: 100vw !important;
}
.full-width-dialog mat-dialog-container {
  padding: 0;
}
.dialog-account {
  width: 400px;
}
.close {
  float: left;
}
.close button {
  background: none;
  border: none;
  color: #009FDF;
  cursor: pointer;
}
.administration-page {
  background: url(../../assets/images/background-settings.jpeg) no-repeat center center fixed;
  padding-top: 50px;
}
.administration-page .administration {
  padding-bottom: 50px;
  padding-top: 50px;
}
.administration-page .administration h2 {
  font-family: "EurostileT-Bold", sans-serif;
  font-size: 40px;
}
.administration-page .administration .settings {
  box-shadow: 0 0 4px 0 #ababab;
  background: linear-gradient(white, #fbfbfb);
  padding: 25px;
}
.administration-page .administration .settings .label-error {
  color: #DC3545;
  font-size: small;
}
.administration-page .administration .settings label {
  color: #009FDF;
}
.administration-page .administration .settings h2 {
  margin-bottom: 50px;
}
.administration-page .administration .settings button {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #009FDF;
  border: none;
}
.administration-page .administration .settings button.save {
  margin-top: 30px;
  background-color: #E87722;
}
.administration-page .administration .settings button.plannify {
  background-color: #009FDF;
}
.administration-page .administration .settings button .fas {
  padding-right: 10px;
}
.administration-page .administration .table-administration {
  box-shadow: 0 0 4px 0 #ababab;
  background: linear-gradient(white, #fbfbfb);
  padding: 25px;
}
.administration-page .administration .table-administration button {
  background: none;
  border: none;
}
.administration-page .administration .table-administration h2 {
  margin-bottom: 50px;
}
.administration-page .administration .table-administration form.search-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.administration-page .administration .table-administration form.search-form .add {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .administration-page .administration .table-administration form.search-form .add {
    margin-top: 10px;
    justify-content: center;
  }
}
.administration-page .administration .table-administration form.search-form .add button {
  color: #009FDF;
}
.administration-page .administration .table-administration form.search-form .add button:hover {
  text-decoration: none;
}
.administration-page .administration .table-administration form.search-form .add .fa-plus-circle {
  font-size: 30px;
  padding-right: 10px;
  color: #009FDF;
}
.administration-page .administration .table-administration table {
  width: 100%;
  text-align: center;
}
.administration-page .administration .table-administration table thead {
  background-color: #009FDF;
}
.administration-page .administration .table-administration table thead th {
  color: #fff;
}
.administration-page .administration .table-administration table td {
  vertical-align: middle;
}
.administration-page .administration .table-administration table td.actions {
  text-align: center;
}
.administration-page .administration .table-administration table td.actions .fas {
  padding: 10px;
  border-radius: 10%;
  margin-left: 10px;
  margin-right: 10px;
}
.administration-page .administration .table-administration table td.actions .fas:before {
  color: #fbfbfb;
}
.administration-page .administration .table-administration table td.actions .fas.fa-edit {
  background-color: #E87722;
}
.administration-page .administration .table-administration table td.actions .fas.fa-trash {
  background-color: #DC3545;
}
/*# sourceMappingURL=administration.css.map */