<div class="container-fluid planning-administration-page">
  <div class="row">
    <div class="planning">
      <div class="banner"><h2>Le planning</h2></div>
      <div class="col-lg-12">
        <table class="meetings col-lg-12">
          <thead>
          <th></th>
          <th *ngFor="let hour of hours">xxh</th>
          </thead>
          <tbody>
          <tr class="meeting" *ngFor="let company of companies">
            <td class="logo-wrapper">
              <img src="../../assets/images/CGI-Logo.jpg" alt="logo entreprise" class="logo"/>
            </td>
            <td class="logo-wrapper" *ngFor="let meeting of getPlanningByC(company._id)">
              <img src="../../assets/images/default_male.jpg" alt="portrait" class="portrait"/>
              <p class="name">
                {{meeting.applicant.account.prenom.slice(0, 1)|titlecase}}&nbsp;{{meeting.applicant.account.name|uppercase}}
              </p>
              <p>{{meeting.room}}</p>
              <p>{{meeting.start_date|date: 'HH:mm'}}</p>
            </td>
            <td class="logo-wrapper"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
