<div class="container-fluid planning-administration-page">
  <div class="row">
    <div class="planning">
      <div class="banner"><h2>Le planning</h2></div>
      <div class="col-lg-12">
        <table class="meetings col-lg-12">
          <thead>
          <th></th>
          <th>10h</th>
          <th>10h30</th>
          <th>11h</th>
          <th>11h30</th>
          <th>11h</th>
          <th>12h00</th>
          <th>12h30</th>
          <th>13h00</th>
          </thead>
          <tbody>
          <tr class="meeting">
            <td class="logo-wrapper">
              <img src="../../assets/images/CGI-Logo.jpg" alt="logo entreprise" class="logo"/>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper"></td>
            <td class="portrait-wrapper"></td>
            <td class="portrait-wrapper"></td>
          </tr>
          <tr class="meeting">
            <td class="logo-wrapper">
              <img src="../../assets/images/CGI-Logo.jpg" alt="logo entreprise" class="logo"/>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper"></td>
            <td class="portrait-wrapper"></td>
            <td class="portrait-wrapper"></td>
          </tr>
          <tr class="meeting">
            <td class="logo-wrapper">
              <img src="../../assets/images/CGI-Logo.jpg" alt="logo entreprise" class="logo"/>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
          </tr>
          <tr class="meeting">
            <td class="logo-wrapper">
              <img src="../../assets/images/CGI-Logo.jpg" alt="logo entreprise" class="logo"/>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
            <td class="portrait-wrapper">
              <img src="../../assets/images/pexels-photo-614810.jpeg" alt="portrait" class="portrait"/>
              <p class="name">T. Brune</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
