<div class="limiter">
  <div class="login-container">
    <div class="login-wrap">
      <form class="login-form validate-form">
					<span class="login-form-title">
						Login
					</span>

        <div class="input-wrap validate-input" data-validate = "Un email valide est requis (exemple : exemple@domaine.abc)">
          <input class="input" type="text" name="email" placeholder="Email">
          <span class="focus-input"></span>
          <span class="symbol-input">
							<span class="lnr lnr-envelope"></span>
						</span>
        </div>

        <div class="input-wrap validate-input" data-validate = "Un mot de passe est requis">
          <input class="input" type="password" name="pass" placeholder="Password">
          <span class="focus-input"></span>
          <span class="symbol-input">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

       <!-- <div class="contact100-form-checkbox m-l-4">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div> -->

        <div class="container-login-form-btn">
          <button class="login-form-btn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
