<form class="form-container">
  <div class="login-form">
    <h2>Connection</h2>
    <div class="inputWithIcon">
      <input type="text" name="email" placeholder="Email">
      <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    <div class="inputWithIcon">
      <input type="password" name="password" placeholder="Mot de passe">
      <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    <button type="submit" (click)="login()">Se connecter</button>
  </div>
</form>
