<div class="student-info-page">
  <div class="close">
    <button mat-dialog-close><i class="fas fa-times"></i></button>
  </div>
  <div class="row">
    <div class="col-lg-6 left">
      <div class="jumbotron">
        <!-- <img src="../../assets/images/company_default.png" alt="logo entreprise" class="logo"/>-->
        <p class="load">{{data.user.getAccount.description}}</p>
        <hr/>
        <div class="button">
          <button *ngIf="data.user.userType === 'Applicant'" class="col-lg-6" mat-button
                  (click)="download(data.user.getAccount.CV)"><i class="fa fa-download"></i>
            Télécharger le CV
          </button>
          <div class="row">
            <h3>Offres d'apprentissages</h3>
            <div style="flex-direction: row; display: flex;">
              <div *ngIf="data.user.userType === 'Company'" class="col-lg-6">
                <button *ngFor="let file of data.user.getAccount.offers" class="btn btn-link" mat-button
                        (click)="download(file)"><i class="fa fa-download"></i>
                  {{file}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6" [ngSwitch]="connectedUser.wishlist[0][data.user.id]">
            <button class="btn btn-primary add" *ngSwitchCase="undefined" mat-button (click)="addToWishList()"><i
              class="fa fa-plus"></i>Ajouter
            </button>
            <button class="btn btn-primary remove" *ngSwitchDefault mat-button (click)="remove()">
              <i class="fa fa-minus"></i>Retirer
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 right">
      <pdf-viewer [src]="pdfSrc"
                  [original-size]="false"
                  [show-all]="true"
                  style="display: block;"
                  *ngIf="data.user.userType === 'Applicant'"
      ></pdf-viewer>
    </div>
  </div>
</div>
