<div class="container-fluid planning-page">
  <div class="row">
    <div class="planning">
      <div class="banner"><h2>Mes rendez-vous</h2></div>
      <div class="cards-wrapper offset-lg-2 col-lg-7 col-11">
        <div class="cards">
          <div class="meeting" *ngFor="let meeting of planning">
            <div class="row">
              <h2 class="date col-lg-3">
                <div class="hour">{{meeting.start_date|date: 'HH:mm'}}</div>
              </h2>
              <div class="card col-lg-9">
                <div class="row">
                  <div class="portrait-wrapper col-md-4">
                    <img src="../../assets/images/CGI-Logo.jpg" alt="portrait" class="portrait"/>
                  </div>
                  <div class="info col-md-8">
                    <div class="basic col-md-7">
                      <p *ngIf="userType.localeCompare('Applicant') === 0" class="name">{{meeting.company.displayName}}</p>
                      <p *ngIf="userType.localeCompare('Company') === 0"
                         class="name">{{meeting.applicant.prenom}}&nbsp;{{meeting.applicant.name}} ok</p>
                      <p class="room">{{meeting.room}}</p>
                    </div>
                    <button mat-raised-button (click)="openDialog(meeting.company)" class="btn more col-md-5">Voir plus</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
