<div class="container-fluid administration-page">
  <div class="administration">
    <div class="row">
      <div class="col-lg-7">
        <div class="table table-administration">
          <h2>Liste des utilisateurs</h2>
          <form [formGroup]="searchForm"><input type="search" class="search form-control col-lg-6" placeholder="Rechercher"/></form>
          <table class="table-striped">
            <thead>
            <th>Nom</th>
            <th>Type d'utilisteur</th>
            <th>Email</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>data 1</td>
              <td>data 2</td>
              <td>data 3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="fas fa-edit"></i></a>
                  <a href=""><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="settings">
          <h2>Saisie des informations du planning</h2>
          <form [formGroup]="settingsForm">
            <div class="form-group">
              <label for="metting-time">Durée des entretiens</label>
              <input type="text" class="form-control" id="metting-time" aria-describedby="timehelp"
                     placeholder="Ex: 0.5">
              <small id="timehelp" class="form-text text-muted">0.5 pour une demi heure
              </small>
            </div>
            <div class="form-group">
              <label for="start-time">Heure de début</label>
              <input type="text" class="form-control" id="start-time"
                     placeholder="Ex: 14" aria-describedby="startHelp">
              <small id="startHelp" class="form-text text-muted">Heure de début des entretiens
              </small>
            </div>
            <label for="start-time">Heure de fin</label>
            <input type="text" class="form-control" id="end-time"
                   placeholder="Ex: 14" aria-describedby="endHelp">
            <small id="endHelp" class="form-text text-muted">Heure de fin des entretiens
            </small>
            <button type="submit" class="btn btn-primary save">Enregistrer</button>
            <hr>
            <button type="submit" class="btn btn-primary plannify">Plannifier les entretiens</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
