<div class="container-fluid users-page">
  <div class="row">
    <div class="planning">
      <div class="banner"><h2>Les Candidats</h2></div>
      <div class="cards-wrapper offset-lg-1 col-lg-10 col-11">
        <div class="cards">
          <div *ngFor="let user of users" class="meeting col-lg-6">
            <div class="card">
              <div class="row">
                <div class="portrait-wrapper col-md-3">
                  <img src="../../assets/images/default_male.jpg" alt="portrait" class="portrait"/>
                </div>
                <div class="info col-md-8">
                  <div class="basic col-md-9">
                    <p class="name">{{user.displayName}}</p>
                    <p class="description">Lorem ipsum dolor sit amet no regnotis de alor mor paras...</p>
                  </div>
                  <button mat-raised-button (click)="openDialog(user)" class="btn more col-md-3">Voir plus</button>
                  <div [ngSwitch]="connectedUser.wishlist[0][user.id]">
                    <button *ngSwitchCase="undefined" (click)="addToWishlist(user)" class="btn add col-md-1"><i class="fas fa-user-plus"></i></button>
                    <button *ngSwitchDefault (click)="remove(user)" class="btn add col-md-1"><i class="fas fa-user-minus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
